header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202020;
    border-bottom: 10px solid #D6D6D6;
    padding: 10px 20px;
}

a{
    display: inline-flex;
    align-items: center;
    color:white;
    font-size: 20px;
    font-family: "Anton";
    font-weight: 500;
    font-style: bold;
    text-decoration: none;
    margin-right: 30px;
    text-shadow: 1px 1px 0px #333533;
}
a::before{
    content: "";
    background-color: #FFEE32;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
#button{
    display: inline-block;
    background-color: #D6D6D6;
    padding: 5px 10px 5px 10px;
    margin-right: 0px;
    border-radius: 25% 10%;
    transition: transform 100ms linear;
}
#button:hover{
    transform: scale(1.06);
}
#navHeader{
    text-align: right;
}

h2{
    font-family: "Anton";
    font-style: bold;
    font-size: 20px;
    color:white;
    text-shadow: 1px 1px 0px #333533;
}